@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Shrikhand&display=swap');

:root {
    --navy: #131212c4;
    --navy-d: #01012e;
    --navy-l: #0a0a8a;
    --orange: #30f916;
    --orange-hover: #1cbd06;
    --orange-d: #0d8d09;
    --orange-l: #ffedd5;
    --bg: #0e0e0e;
    /* --bg-card1: #212221; */
    --bg-card: #212221;
    --text: #e1e1e7;
    --text-m: #aaaaac;
    --text-l: #9090a8;
    --border: #0db307;
    --shadow: 0 2px 16px rgba(2, 2, 74, .08);
    --shadow-l: 0 8px 32px rgba(2, 2, 74, .14);
    --radius: 12px;
    --radius-s: 8px;
    --transition: .22s cubic-bezier(.4, 0, .2, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
}

.section-cadastro {
    display: none;
    position: absolute;
    top: 5%;
    left: 30%;
}

.container {
    margin: 15% auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.form-card {
    border: 1px solid var(--border);
    width: 100%;
    max-width: 800px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    background: var(--bg);
}

.form-card h2 {
    margin-bottom: 20px;
    color: var(--text);
}

.form-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--orange);
}

span {
    color: var(--text-m);
    font-size: 12px;
}

input, select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.2s;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: var(--orange-d);
    box-shadow: 0 0 5px rgba(0,168,107,0.3);
}

.row {
    display: flex;
    gap: 15px;
}

.row .form-group {
    flex: 1;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: var(--orange-d);
    color: var(--text);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--orange-hover);
}