@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Shrikhand&display=swap');

:root {
    --navy: #131212c4;
    --navy-d: #01012e;
    --navy-l: #0a0a8a;
    --orange: #30f916;
    --orange-hover: #1cbd06;
    --orange-d: #0d8d09;
    --orange-l: #ffedd5;
    --bg: #0e0e0e;
    --bg-card: #212221;
    --text: #e1e1e7;
    --text-m: #aaaaac;
    --text-l: #9090a8;
    --border: #0db307;
    --shadow: 0 2px 16px rgba(2, 2, 74, .08);
    --shadow-l: 0 8px 32px rgba(2, 2, 74, .14);
    --radius: 12px;
    --radius-s: 8px;
    --transition: .22s cubic-bezier(.4, 0, .2, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
}

.container-pagina {
    max-width: 1700px;
    margin: 0 auto;
    padding: 60px 40px;
}

.pesquisar {
    display: flex;
}

.pesquisar input {
    max-width: 1200px;
    width: 500px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pesquisar i {
    background: var(--orange-d);
    padding: 10px;
    max-width: 200px;
    text-align: center;
    width: 10%;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.pesquisar i:hover {
    background: var(--orange-hover);
}

.tabela-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.tabela-header h1 {
    font-size: 1.6rem;
    color: var(--text);
}

.tabela-header p {
    color: var(--text-m);
    font-size: .9rem;
    margin-top: 2px;
}

.btn-header {
    text-decoration: none;
    color: var(--text);
    border: 1px solid var(--orange-d);
    border-radius: 6px;
    padding: 5px 15px;
    background: var(--orange-d);
}

.btn-header:hover {
    background-color: var(--orange-hover);
}

.alerta {
    padding: 14px 16px;
    border-radius: 6px;
    font-size: .9rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.alerta-ok {
    background: #f0fdf4;
    border: 1px solid #bbf7d0;
    color: #166534;
}

.tabela-wrapper {
    background: var(--bg-card);
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    overflow-x: auto;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: .9rem;
}

.tabela thead {
    background: var(--navy);
    position: sticky;
    top: 0;
}

.tabela thead th {
    padding: 16px 18px;
    text-align: left;
    color: var(--orange);
    font-family: 'Syne', sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .06em;
    white-space: nowrap;
}

.tabela tbody tr {
    transition: var(--transition);
}

.tabela tbody tr:hover {
    background: #393a39;
}

.tabela tbody td {
    padding: 14px 18px;
}

.td-nome a {
    color: var(--text);
    font-weight: 500;
    transition: var(--transition);
}

.td-nome a:hover {
    color: var(--orange);
}

.td-acao {
    text-align: left;
    white-space: nowrap;
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    align-items: center;
}

.btn-acao {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-s);
    border: 1.5px solid var(--border);
    background: none;
    cursor: pointer;
    font-size: .9rem;
    transition: var(--transition);
    color: var(--text-m);
}

.btn-editar:hover {
    color: var(--orange);
}

.btn-ver:hover {
    border-color: var(--orange-l);
    color: var(--orange-l);
}

.btn-del:hover {
    border-color: #ef4444;
    color: #ef4444;
}

.tabela tfoot tr.rodape-tabela {
    background: var(--navy);
}

.tabela tfoot td {
    padding: 16px 18px;
    color: rgba(255, 255, 255, .85);
}

.tabela tfoot .td-num {
    text-align: left;
}

.tabela tfoot .td-num small {
    display: block;
    font-size: .7rem;
    color: rgba(255, 255, 255, .45);
    font-weight: 400;
}

.tabela tfoot .destaque strong {
    color: var(--orange);
    font-size: 1.05rem;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

.box-num {
    display: flex;
    gap: 10px;
}

.box-num a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    
    border: 2px solid var(--orange-d);
    border-radius: 10px;
    background: var(--navy);
    
    color: var(--orange);
    text-decoration: none;
    font-weight: 600;

    transition: all 0.3s ease;
}

.box-num a:hover {
    transform: translateY(-2px);
}

.paginacao a.ativo {
    background: var(--navy);
    color: #fff;
    box-shadow: 0 4px 10px rgba(255, 107, 0, 0.3);
}

.paginacao i {
    color: var(--orange);
    font-size: 20px;
}