@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Shrikhand&display=swap');

:root {
    --navy: #131212c4;
    --navy-d: #01012e;
    --navy-l: #0a0a8a;
    --orange: #30f916;
    --orange-hover: #1cbd06;
    --orange-d: #0d8d09;
    --orange-l: #ffedd5;
    --bg: #0e0e0e;
    --bg-card: #212221;
    --text: #e1e1e7;
    --text-m: #aaaaac;
    --text-l: #9090a8;
    --border: #0db307;
    --shadow: 0 2px 16px rgba(2, 2, 74, .08);
    --shadow-l: 0 8px 32px rgba(2, 2, 74, .14);
    --radius: 12px;
    --radius-s: 8px;
    --transition: .22s cubic-bezier(.4, 0, .2, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--text);
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
}

header {
    padding: 20px;
}

header i {
    font-size: 22px;
    transition: var(--transition);
}

header i:hover {
    color: var(--orange);
}

.player {
  width: 100%;
  max-width: 1000px;
  margin:  auto;
  display: flex;
  gap: 30px;
}

.card {
  background: var(--bg-card);
  padding: 25px;
  border-radius: var(--radius);
  box-shadow: var(--shadow-l);
  text-align: center;
}

.capa {
  width: 100%;
  border-radius: var(--radius-s);
  margin-bottom: 20px;
}

.info h2 {
  font-size: 20px;
}

.info p {
  color: var(--text-m);
  font-size: 14px;
  margin-top: 4px;
}

.progresso {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
  font-size: 12px;
  color: var(--text-l);
}

.barra {
  flex: 1;
  height: 4px;
  background: var(--navy);
  border-radius: 10px;
  overflow: hidden;
}

.barra-fill {
  height: 100%;

}

.controles {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.controles button {
  background: none;
  border: none;
  color: var(--text);
  font-size: 22px;
  cursor: pointer;
  transition: var(--transition);
  font-size: 24px;
}

.controles button:hover {
  color: var(--orange);
}

.detalhes {
    max-width: 1200px;
    width: 700px;
    height: 30vh;
    padding: 20px;
    border-radius: var(--radius);
    background: var(--bg-card);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detalhes h4 {
    color: var(--orange);
    font-size: 16px;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link a {
    background: var(--navy);
    padding: 12px;
    border-radius: var(--radius);
}

.link i {
  font-size: 20px;
  margin-left: 10px;
}

.detalhes i:hover {
    color: var(--orange);
}

.genero {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.genero span {
    background: var(--navy);
    padding: 12px;
    border-radius: var(--radius);
}